<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>PeriodicEditionApplication</display-name>

    <!--<servlet>-->
        <!--<servlet-name>PeriodicEditionName</servlet-name>-->
        <!--<servlet-class>by.pasevinapolina.controllers.HomeController</servlet-class>-->
    <!--</servlet>-->

    <!--<servlet-mapping>-->
        <!--<servlet-name>PeriodicEditionName</servlet-name>-->
        <!--<url-pattern>/PeriodicEdition</url-pattern>-->
    <!--</servlet-mapping>-->

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <listener>
        <listener-class>by.pasevinapolina.controllers.ServletListener</listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <!--<error-code>404</error-code>-->
        <location>/static/jsp/error/error404.jsp</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/static/jsp/error/runtime_error.jsp</location>
    </error-page>

</web-app>